NEXT_PUBLIC_API_URL=https://api.xtrawrkx.com
NEXT_PUBLIC_ORG_MANAGER_URL=https://orbit.xtrawrkx.com
NEXT_PUBLIC_SITE_URL=https://orbit.xtrawrkx.com
NEXT_PUBLIC_ACCOUNTS_APP_URL=https://base.xtrawrkx.com
NEXT_PUBLIC_PM_APP_URL=https://pm.xtrawrkx.com
NEXT_PUBLIC_CRM_APP_URL=https://crm.xtrawrkx.com
NEXT_PUBLIC_LANDING_URL=https://xtrawrkx.com
