NEXT_PUBLIC_API_URL=https://xtrawrkxsuits-production.up.railway.app
NEXT_PUBLIC_STRAPI_URL=https://xtrawrkxsuits-production.up.railway.app
NEXT_PUBLIC_XTRAWRKX_WEBSITE_URL=https://xtrawrkx.com
NEXT_PUBLIC_USE_STRAPI=true
